*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

.formBox {
    background-color: #d8f2df;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19692c;
    padding: 15px;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.navbar .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.navbar ul {
    list-style: none;
    display: flex;
}
.navbar ul li {
    margin: 0 15px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
}
.navbar ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}
.admin-btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: background 0.3s;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* Sticky header */
thead {
    background-color: #007BFF;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}
td:nth-child(odd){
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 15px;
    
}

.delete-btn:hover {
    background-color: #cc0000;
}
.edit-btn {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 15px;
    
}

.edit-btn:hover {
    background-color: #2a82e7;
}



.footer {
    text-align: center;
    padding: 20px;
    background-color: #19692c;
    color: white;
    /* margin-top: 20px; */
  }